In [ ]:
#Lectura del csv y visualización
import pandas as pd

file_path = 'DataBases/03_Experimento_1-spreadsheet(v1).csv'
df = pd.read_csv(file_path)

df.head(7)

,[run number],1,1.1,1.2,1.3,1.4,1.5,1.6,2,2.1,...,839.4,839.5,839.6,840,840.1,840.2,840.3,840.4,840.5,840.6
0,F,4,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
1,q,14,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,...,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN
2,confidence,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,0.45,NaN,NaN,NaN,NaN,NaN,NaN
3,epsilon,0.01,NaN,NaN,NaN,NaN,NaN,NaN,0.01,NaN,...,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
4,R,0.2,NaN,NaN,NaN,NaN,NaN,NaN,0.25,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
5,[reporter],[step],num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF,[step],num_cultures,...,prob_interaction_VF,probability_copy,per_information_VF,[step],num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF
6,[final],9001,10,884,0.75,0.002493765586034913,0,0.19444444444444445,9001,10,...,0.002493765586034913,0.152001246882793,94.88888888888889,9001,60,820,0.25,0.002493765586034913,0.051562500000000004,90.97222222222221

In [13]:
# Separar el dataframe con las variables independientes
df_variables = df.iloc[:5]
df_variables

,[run number],1,1.1,1.2,1.3,1.4,1.5,1.6,2,2.1,...,839.4,839.5,839.6,840,840.1,840.2,840.3,840.4,840.5,840.6
0,F,4,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
1,q,14,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,...,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN
2,confidence,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,0.45,NaN,NaN,NaN,NaN,NaN,NaN
3,epsilon,0.01,NaN,NaN,NaN,NaN,NaN,NaN,0.01,NaN,...,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
4,R,0.2,NaN,NaN,NaN,NaN,NaN,NaN,0.25,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Separar el dataframe con los reporteros y corridas finales
df_finales = df.iloc[5:]
new_df_finales = df_finales.drop(columns=df_finales.columns[0])
new_df_finales

,1,1.1,1.2,1.3,1.4,1.5,1.6,2,2.1,2.2,...,839.4,839.5,839.6,840,840.1,840.2,840.3,840.4,840.5,840.6
5,[step],num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF,[step],num_cultures,bigger-region,...,prob_interaction_VF,probability_copy,per_information_VF,[step],num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF
6,9001,10,884,0.75,0.002493765586034913,0,0.19444444444444445,9001,10,892,...,0.002493765586034913,0.152001246882793,94.88888888888889,9001,60,820,0.25,0.002493765586034913,0.051562500000000004,90.97222222222221

In [15]:
# Elimina las columnas con valores nulos, ademas de transponer el dataframe
df_var_clean = df_variables.dropna(axis=1, how='all').T

#Se asigna la fila 1 como el nombre de las columnas y elimina esta primera columna
df_var_clean.columns = df_var_clean.iloc[0]
DF_variables = df_var_clean.drop(df_var_clean.index[0])
DF_variables.reset_index(drop=True, inplace=True)

DF_variables

[run number]  F   q confidence epsilon     R
0             4  14          0    0.01   0.2
1             4  14          0    0.01  0.25
2             4  14          0    0.01   0.3
3             4  14          0    0.01  0.35
4             4  14          0    0.01   0.4
..           ..  ..        ...     ...   ...
835           4  25       0.45    0.01   0.3
836           4  25       0.45    0.01  0.35
837           4  25       0.45    0.01   0.4
838           4  25       0.45    0.01  0.45
839           4  25       0.45    0.01   0.5

[840 rows x 5 columns]

In [16]:

# Guarda los valores de la segunda fila en un arreglo 
valores = new_df_finales.iloc[1].values

# Guarda una matriz de n filas por 7 columnas tomando como referencia los valores de la segunda fila que en este caso con los reporteros
valores_matriz = valores.reshape(-1, 7)

# Convertimos la matriz generada en un dataframe, agregando nombre a las variables
df_finales_rs = pd.DataFrame(valores_matriz)
column_names = [
    "step","num_cultures", "bigger-region", "prob_interaction_i",
    "prob_interaction_VF", "probability_copy", "per_information_VF"
]
df_finales_rs.columns = column_names

#Elimina la columna 0 o step
DF_finales = df_finales_rs.drop(columns=df_finales_rs.columns[0])

DF_finales

,num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF
0,10,884,0.75,0.002493765586034913,0,0.19444444444444445
1,10,892,0.75,0.002493765586034913,0,0.2222222222222222
2,8,892,0.75,0.002493765586034913,0,0.05555555555555555
3,8,894,0.75,0.002493765586034913,0,0.08333333333333334
4,8,880,0.75,0.002493765586034913,0,0.08333333333333334
...,...,...,...,...,...,...
835,43,853,0.75,0.002493765586034913,0.07218749999999999,94.55555555555556
836,46,845,0.75,0.002493765586034913,0.054843750000000004,93.77777777777779
837,41,850,0.75,0.002493765586034913,0.050624999999999996,94.33333333333334
838,37,855,0.75,0.002493765586034913,0.152001246882793,94.88888888888889
839,60,820,0.25,0.002493765586034913,0.051562500000000004,90.97222222222221

In [17]:
# Combina los dataframes generados
df_combinado = pd.concat([DF_variables, DF_finales], axis=1)  # Combina por columnas
df_combinado.to_csv('02_Experimento_1-DataBase.csv', index= False)
df_combinado

,F,q,confidence,epsilon,R,num_cultures,bigger-region,prob_interaction_i,prob_interaction_VF,probability_copy,per_information_VF
0,4,14,0,0.01,0.2,10,884,0.75,0.002493765586034913,0,0.19444444444444445
1,4,14,0,0.01,0.25,10,892,0.75,0.002493765586034913,0,0.2222222222222222
2,4,14,0,0.01,0.3,8,892,0.75,0.002493765586034913,0,0.05555555555555555
3,4,14,0,0.01,0.35,8,894,0.75,0.002493765586034913,0,0.08333333333333334
4,4,14,0,0.01,0.4,8,880,0.75,0.002493765586034913,0,0.08333333333333334
...,...,...,...,...,...,...,...,...,...,...,...
835,4,25,0.45,0.01,0.3,43,853,0.75,0.002493765586034913,0.07218749999999999,94.55555555555556
836,4,25,0.45,0.01,0.35,46,845,0.75,0.002493765586034913,0.054843750000000004,93.77777777777779
837,4,25,0.45,0.01,0.4,41,850,0.75,0.002493765586034913,0.050624999999999996,94.33333333333334
838,4,25,0.45,0.01,0.45,37,855,0.75,0.002493765586034913,0.152001246882793,94.88888888888889
839,4,25,0.45,0.01,0.5,60,820,0.25,0.002493765586034913,0.051562500000000004,90.97222222222221